---
import Layout from '../layouts/Layout.astro';
import Content from '../components/Content.astro';
import { Image } from 'astro:assets';

import docker from '../assets/docker.webp';
import python from '../assets/python.webp';
import js from '../assets/js.png';
import html from '../assets/html.png';
import css from '../assets/css.webp';
import java from '../assets/java.webp';
import bash from '../assets/bash.png';
import csharp from '../assets/csharp.png';
import cpp from '../assets/cpp.png';
import react from '../assets/react.png';
import astro from '../assets/astro.png';
import tanstackQuery from '../assets/tanstack_query.png';
import tailwind from '../assets/tailwind.png';
import springboot from '../assets/springboot.png';
import linux from '../assets/linux.png';
import git from '../assets/git.png';
import jira from '../assets/jira.png';
import figma from '../assets/figma.png';
import mkdocs from '../assets/mkdocs.png';
import photoshop from '../assets/photoshop.png';

import tictactoeVideo from '../assets/videos/tic_tac_toe_video.webm';
import pongVideo from '../assets/videos/pong_video.webm';
import bghVideo from '../assets/videos/bgh_landing.webm';
import uasmartsignageVideo from '../assets/videos/UA_SMART_SIGNAGE_video.webm';
import towerdefenseVideo from '../assets/videos/td_play.webm';

const ticTacToe = {
	title: "Tic-Tac-Toe (2020)",
	description: ["Local Player vs Player", "Player vs Computer", "Achievements & skins."],
	tags: ["Unity"],
	video: tictactoeVideo,
	url: "/tic-tac-toe"
};

const pong = {
	title: "Pong (2020)",
	description: ["Local Player vs Player;", "Player vs Computer;", "Multiple difficulties."],
	tags: ["Unity"],
	video: pongVideo,
	url: "/pong"
};

const towerDefense = {
	title: "Tower Defense (2020)",
	description: ["Modded tutorial game;"],
	tags: ["Unity"],
	video: towerdefenseVideo,
	url: "/tower-defense"
};

const uaSmartSignage = {
	title: "UA Smart Signage (2024)",
	job: "Team manager & Developer",
	description: ["Centralized Digital Signage;", "Digital file system;", "Dashboard & log analysis;", "Template customization."],
	tags: ["React", "TailwindCSS", "Java", "SQL", "Docker"],
	video: uasmartsignageVideo,
	url: "/ua-smart-signage"
};

const boardgamesHub = {
	title: "Boardgames Hub (2023)",
	job: "Frontend developer",
	description: ["Wishlist;", "Search with filters;", "Price charts;", "Recommendations."],
	tags: ["React", "Docker"],
	video: bghVideo,
	url: "/boardgames-hub"
};

---

<Layout pageTitle="Pedro Pinho">
	<div class="w-full min-h-screen">
		<div class="background-divider bottom-divider">
			<div class="mx-auto max-w-screen-xl">
				<div id="hero" class="w-full h-fit gap-8">
					<div id="contact_about" class="w-full h-full py-11 px-8 gap-8 flex flex-row">
						<div id="contact" class="flex flex-col w-[40%] h-fit">
							<div id="name" class="flex flex-col">
								<h1>Pedro Pinho</h1>
								<p class="medium">bryer.pinho@outlook.com</p>
							</div>
							<ul id="media" class="h-fit w-fit gap-4 py-6 flex flex-row">
								<li id="github" class="h-8 w-8 scaleImg">
									<a href="https://www.github.com/pdPinho">
										<svg viewBox="0 0 1024 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z" transform="scale(64)" fill="#8398ED"/>
										</svg>
									</a>
								</li>
								<li id="linkedin" class="h-8 w-8 scaleImg">
									<a href="https://www.linkedin.com/in/pdPinho/">
										<svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg">
											<path d="M8,72 L64,72 C68.418278,72 72,68.418278 72,64 L72,8 C72,3.581722 68.418278,-8.11624501e-16 64,0 L8,0 C3.581722,8.11624501e-16 -5.41083001e-16,3.581722 0,8 L0,64 C5.41083001e-16,68.418278 3.581722,72 8,72 Z" fill="#0B0D16"/>
											<path d="M62,62 L51.315625,62 L51.315625,43.8021149 C51.315625,38.8127542 49.4197917,36.0245323 45.4707031,36.0245323 C41.1746094,36.0245323 38.9300781,38.9261103 38.9300781,43.8021149 L38.9300781,62 L28.6333333,62 L28.6333333,27.3333333 L38.9300781,27.3333333 L38.9300781,32.0029283 C38.9300781,32.0029283 42.0260417,26.2742151 49.3825521,26.2742151 C56.7356771,26.2742151 62,30.7644705 62,40.051212 L62,62 Z M16.349349,22.7940133 C12.8420573,22.7940133 10,19.9296567 10,16.3970067 C10,12.8643566 12.8420573,10 16.349349,10 C19.8566406,10 22.6970052,12.8643566 22.6970052,16.3970067 C22.6970052,19.9296567 19.8566406,22.7940133 16.349349,22.7940133 Z M11.0325521,62 L21.769401,62 L21.769401,27.3333333 L11.0325521,27.3333333 L11.0325521,62 Z" fill="#8398ED"/>
										</svg>
									</a>
								</li>
							</ul>
							<div id="description" class="flex flex-col">
								<span class="medium">Software engineer;</span>
								<span class="medium">Full stack developer.</span>						
							</div>
						</div>
						<div id="about" class="w-[60%] h-fit gap-4">
							<h2>About me</h2>
							<p class="mb-4">
								I am a <span class="text-[#A2A372]">perfectionist software engineering graduate</span> eager to start my career in the field. 
								With a solid foundation in both <span class="text-[#A2A372]">front-end and back-end</span> technologies, I have experience on projects using <span class="text-[#A2A372]">React</span> and <span class="text-[#A2A372]">Springboot</span>, among others. 
							</p>
							<p class="mb-4">
								I have a strong enthusiasm for crafting visually appealing and well-designed user experiences, ensuring that functionality is paired with intuitive and engaging design. 
								I enjoy solving problems through clean, efficient code and am always eager to learn new things. 
								I am currently seeking opportunities to get my feet wet and grow as an engineer.
							</p>
							<p class="mb-4">
								I highly value work-life balance, both for myself and for others. 
								When I'm not at work, you can find me painting miniatures, playing board games, video games, or working out in the gym.
							</p>
						</div>
					</div>
					<div id="skills_career" class="flex flex-row w-full h-full pt-11 pb-32 px-8 gap-8">
						<div id="skills_tools" class="flex flex-col w-[40%] gap-11">
							<div id="skills" class="gap-4 h-fit w-fit">
								<h3>Skills</h3>
								<ul class="gap-6 grid grid-cols-3 pt-4">
									<li class="flex h-8 w-8 scaleImg speech-bubble z-20" data-after-content="HTML5">
										<Image src={html} class="object-contain" alt="HTML icon"/>
									</li>
									<li class="flex h-8 w-8 scaleImg speech-bubble z-20" data-after-content="CSS3">
										<Image src={css} class="object-contain" alt="CSS3 icon"/>
									</li>
									<li class="flex h-8 w-8 scaleImg speech-bubble z-20" data-after-content="Javascript">
										<Image src={js} class="object-contain" alt="Javascript icon"/>
									</li>
									<li class="flex h-8 w-8 scaleImg speech-bubble z-10" data-after-content="Python">
										<Image src={python} class="object-contain" alt="Python icon"/>
									</li>
									<li class="flex h-8 w-8 scaleImg speech-bubble z-10" data-after-content="Java">
										<Image src={java} class="object-contain" alt="Java icon"/>
									</li>
									<li class="flex h-8 w-8 scaleImg speech-bubble z-10" data-after-content="Bash">
										<Image src={bash} class="object-contain" alt="Bash icon"/>
									</li>
									<li class="flex h-8 w-8 scaleImg speech-bubble" data-after-content="C Sharp">
										<Image src={csharp} class="object-contain" alt="C Sharp icon"/>
									</li>
									<li class="flex h-8 w-8 scaleImg speech-bubble" data-after-content="C Plus Plus">
										<Image src={cpp} class="object-contain" alt="C Plus Plus icon"/>
									</li>
								</ul>
							</div>
							<div id="tools" class="gap-4 h-fit w-fit">
								<h3>Tools</h3>
								<ul class="gap-6 grid grid-cols-3 pt-4">
									<li class="flex h-8 w-8 scaleImg speech-bubble z-30" data-after-content="React">
										<Image src={react} class="object-contain" alt="React icon"/>
									</li>
									<li class="flex h-8 w-8 scaleImg speech-bubble z-30" data-after-content="Astro">
										<Image src={astro} class="object-contain" alt="Astro icon"/>
									</li>
									<li class="flex h-8 w-8 scaleImg speech-bubble z-30" data-after-content="Tanstack Query">
										<Image src={tanstackQuery} class="object-contain" alt="Tanstack Query icon"/>
									</li>
									<li class="flex h-8 w-8 scaleImg speech-bubble z-20" data-after-content="Tailwind CSS">
										<Image src={tailwind} class="object-contain" alt="Tailwind CSS icon"/>
									</li>
									<li class="flex h-8 w-8 scaleImg speech-bubble z-20" data-after-content="Docker">
										<Image src={docker} class="object-contain" alt="Docker icon"/>
									</li>
									<li class="flex h-8 w-8 scaleImg speech-bubble z-20" data-after-content="Spring Boot">
										<Image src={springboot} class="object-contain" alt="Spring Boot icon"/>
									</li>
									<li class="flex h-8 w-8 scaleImg speech-bubble z-10" data-after-content="Linux">
										<Image src={linux} class="object-contain" alt="Linux icon"/>
									</li>
									<li class="flex h-8 w-8 scaleImg speech-bubble z-10" data-after-content="Git">
										<Image src={git} class="object-contain" alt="Git icon"/>
									</li>
									<li class="flex h-8 w-8 scaleImg speech-bubble z-10" data-after-content="MkDocs">
										<Image src={mkdocs} class="object-contain" alt="MkDocs icon"/>
									</li>
									<li class="flex h-8 w-8 scaleImg speech-bubble" data-after-content="Figma">
										<Image src={figma} class="object-contain" alt="Figma icon"/>
									</li>
									<li class="flex h-8 w-8 scaleImg speech-bubble" data-after-content="Photoshop">
										<Image src={photoshop} class="object-contain" alt="Photoshop icon"/>
									</li>
									<li class="flex h-8 w-8 scaleImg speech-bubble" data-after-content="Jira">
										<Image src={jira} class="object-contain" alt="Jira icon"/>
									</li>
								</ul>
							</div>
						</div>
						<div id="career" class="flex flex-col w-[60%] h-fit gap-3-">
							<h3>Career path</h3>
							<ol class="w-full h-fit flex flex-col pt-5">
								<li class="mb-8 p-3 w-full h-fit itemCareer">
									<div class="flex flex-row gap-2 w-full h-fit careerSmallScreen">
										<div class="w-[20%] p-2.5 h-fit items-center font-semibold yearSmallScreen">2021 — 2024</div>
										<div class="flex flex-col w-[80%] h-fit careerTextSmallScreen">
											<a href="https://www.ua.pt/pt/curso/383" target="_blank">
												<div class="flex flex-row gap-2 items-center">
													<h5>[Education] Universidade de Aveiro</h5>
													<span class="flex w-5 h-5">
														<?xml version="1.0" encoding="UTF-8" standalone="no"?>
														<svg class="fill-[#A2A372]" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 -256 1850 1850" id="svg3025" version="1.1" inkscape:version="0.48.3.1 r9886" width="100%" height="100%" sodipodi:docname="external_link_font_awesome.svg">
															<g transform="matrix(1,0,0,-1,30.372881,1426.9492)" id="g3027">
															<path d="M 1408,608 V 288 Q 1408,169 1323.5,84.5 1239,0 1120,0 H 288 Q 169,0 84.5,84.5 0,169 0,288 v 832 Q 0,1239 84.5,1323.5 169,1408 288,1408 h 704 q 14,0 23,-9 9,-9 9,-23 v -64 q 0,-14 -9,-23 -9,-9 -23,-9 H 288 q -66,0 -113,-47 -47,-47 -47,-113 V 288 q 0,-66 47,-113 47,-47 113,-47 h 832 q 66,0 113,47 47,47 47,113 v 320 q 0,14 9,23 9,9 23,9 h 64 q 14,0 23,-9 9,-9 9,-23 z m 384,864 V 960 q 0,-26 -19,-45 -19,-19 -45,-19 -26,0 -45,19 L 1507,1091 855,439 q -10,-10 -23,-10 -13,0 -23,10 L 695,553 q -10,10 -10,23 0,13 10,23 l 652,652 -176,176 q -19,19 -19,45 0,26 19,45 19,19 45,19 h 512 q 26,0 45,-19 19,-19 19,-45 z" id="path3029"/>
															</g>
														</svg>
													</span>
												</div>
												<p>Bachelor's Degree in Engenharia Informatica (Software Engineering)</p>
											</a>
										</div>
									</div>
								</li>
								<li class="mb-12 p-3 w-full h-fit itemCareer">
									<div class="flex flex-row gap-2 w-full h-fit careerSmallScreen">
										<div class="w-[20%] p-2.5 h-fit items-center font-semibold yearSmallScreen">2018 — 2019</div>
										<div class="flex flex-col w-[80%] h-fit careerTextSmallScreen">
											<a href="https://www.iefp.pt/en_GB" target="_blank">
												<div class="flex flex-row gap-2 items-center">
													<h5>[Education & Internship] IEFP</h5>
													<span class="flex w-5 h-5">
														<?xml version="1.0" encoding="UTF-8" standalone="no"?>
														<svg class="fill-[#A2A372]" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 -256 1850 1850" id="svg3025" version="1.1" inkscape:version="0.48.3.1 r9886" width="100%" height="100%" sodipodi:docname="external_link_font_awesome.svg">
															<g transform="matrix(1,0,0,-1,30.372881,1426.9492)" id="g3027">
															<path d="M 1408,608 V 288 Q 1408,169 1323.5,84.5 1239,0 1120,0 H 288 Q 169,0 84.5,84.5 0,169 0,288 v 832 Q 0,1239 84.5,1323.5 169,1408 288,1408 h 704 q 14,0 23,-9 9,-9 9,-23 v -64 q 0,-14 -9,-23 -9,-9 -23,-9 H 288 q -66,0 -113,-47 -47,-47 -47,-113 V 288 q 0,-66 47,-113 47,-47 113,-47 h 832 q 66,0 113,47 47,47 47,113 v 320 q 0,14 9,23 9,9 23,9 h 64 q 14,0 23,-9 9,-9 9,-23 z m 384,864 V 960 q 0,-26 -19,-45 -19,-19 -45,-19 -26,0 -45,19 L 1507,1091 855,439 q -10,-10 -23,-10 -13,0 -23,10 L 695,553 q -10,10 -10,23 0,13 10,23 l 652,652 -176,176 q -19,19 -19,45 0,26 19,45 19,19 45,19 h 512 q 26,0 45,-19 19,-19 19,-45 z" id="path3029"/>
															</g>
														</svg>
													</span>
												</div>
												<p>Eleven-month Marketing Course at Instituto do Emprego e Formação Profissional</p>
												<p>Three-month Marketing Internship</p>
											</a>
										</div>
									</div>
								</li>
								<li class="mb-12 w-full p-3 h-fit itemCareer">
									<div class="flex flex-row gap-2 w-full h-fit careerSmallScreen">
										<div class="w-[20%] p-2.5 h-fit items-center font-semibold yearSmallScreen">2016 — 2017</div>
										<div class="flex flex-col w-[80%] h-fit careerTextSmallScreen">
											<a href="https://uk.linkedin.com/company/centroproduto-com" target="_blank">
												<div class="flex flex-row gap-2 items-center">
													<h5>[Internship] Centroproduto</h5>
													<span class="flex w-5 h-5">
														<?xml version="1.0" encoding="UTF-8" standalone="no"?>
														<svg class="fill-[#A2A372]" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 -256 1850 1850" id="svg3025" version="1.1" inkscape:version="0.48.3.1 r9886" width="100%" height="100%" sodipodi:docname="external_link_font_awesome.svg">
															<g transform="matrix(1,0,0,-1,30.372881,1426.9492)" id="g3027">
															<path d="M 1408,608 V 288 Q 1408,169 1323.5,84.5 1239,0 1120,0 H 288 Q 169,0 84.5,84.5 0,169 0,288 v 832 Q 0,1239 84.5,1323.5 169,1408 288,1408 h 704 q 14,0 23,-9 9,-9 9,-23 v -64 q 0,-14 -9,-23 -9,-9 -23,-9 H 288 q -66,0 -113,-47 -47,-47 -47,-113 V 288 q 0,-66 47,-113 47,-47 113,-47 h 832 q 66,0 113,47 47,47 47,113 v 320 q 0,14 9,23 9,9 23,9 h 64 q 14,0 23,-9 9,-9 9,-23 z m 384,864 V 960 q 0,-26 -19,-45 -19,-19 -45,-19 -26,0 -45,19 L 1507,1091 855,439 q -10,-10 -23,-10 -13,0 -23,10 L 695,553 q -10,10 -10,23 0,13 10,23 l 652,652 -176,176 q -19,19 -19,45 0,26 19,45 19,19 45,19 h 512 q 26,0 45,-19 19,-19 19,-45 z" id="path3029"/>
															</g>
														</svg>
													</span>
												</div>
												<p>Nine-month Professional Internship as a Video and Image Editing Specialist.</p>
											</a>
										</div>
									</div>
								</li>
								<li class="w-full p-3 h-fit itemCareer">
									<div class="flex flex-row gap-2 w-full h-fit careerSmallScreen">
										<div class="w-[20%] p-2.5 h-fit items-center font-semibold yearSmallScreen">2014 — 2016</div>
										<div class="flex flex-col w-[80%] h-fit careerTextSmallScreen">
											<a href="https://www.cesaedigital.pt/" target="_blank">
												<div class="flex flex-row gap-2 items-center">
													<h5>[Education] CESAE</h5>
													<span class="flex w-5 h-5">
														<?xml version="1.0" encoding="UTF-8" standalone="no"?>
														<svg class="fill-[#A2A372]" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 -256 1850 1850" id="svg3025" version="1.1" inkscape:version="0.48.3.1 r9886" width="100%" height="100%" sodipodi:docname="external_link_font_awesome.svg">
															<g transform="matrix(1,0,0,-1,30.372881,1426.9492)" id="g3027">
															<path d="M 1408,608 V 288 Q 1408,169 1323.5,84.5 1239,0 1120,0 H 288 Q 169,0 84.5,84.5 0,169 0,288 v 832 Q 0,1239 84.5,1323.5 169,1408 288,1408 h 704 q 14,0 23,-9 9,-9 9,-23 v -64 q 0,-14 -9,-23 -9,-9 -23,-9 H 288 q -66,0 -113,-47 -47,-47 -47,-113 V 288 q 0,-66 47,-113 47,-47 113,-47 h 832 q 66,0 113,47 47,47 47,113 v 320 q 0,14 9,23 9,9 23,9 h 64 q 14,0 23,-9 9,-9 9,-23 z m 384,864 V 960 q 0,-26 -19,-45 -19,-19 -45,-19 -26,0 -45,19 L 1507,1091 855,439 q -10,-10 -23,-10 -13,0 -23,10 L 695,553 q -10,10 -10,23 0,13 10,23 l 652,652 -176,176 q -19,19 -19,45 0,26 19,45 19,19 45,19 h 512 q 26,0 45,-19 19,-19 19,-45 z" id="path3029"/>
															</g>
														</svg>
													</span>
												</div>
												<p>Secondary Education Qualification at Centro para o Desenvolvimento de Competências Digitais.</p>
											</a>
										</div>
									</div>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<div class="background-divider top-divider bottom-divider">
			<div class="w-full min-h-screen">
				<div class="mx-auto max-w-screen-xl">
					<div id="projects" class="flex flex-col w-full h-fit py-32 px-2.5 gap-6">
						<h2 class="gap-2.5 py-6 w-full h-fit">Projects</h2>
						<div id="videogames_websites" class="flex flex-row w-full h-fit gap-2.5">
							<div id="video_games" class="p-2.5 gap-2.5 h-fit w-[49%]">
								<h3 class="pb-3">Video Games</h3>
								<ul class="w-full h-fit py-3.5 px-3 gap-2.5 text-left">
									<Content object={ticTacToe} last={false} isWebsite={false}/>
									<Content object={pong} last={false} isWebsite={false}/>
									<Content object={towerDefense} last={true} isWebsite={false}/>
								</ul>
							</div>
							<div id="videogames_websites_divider" class="border-1 border-solid border-[#A8B0C6] mt-4"/>
							<div id="websites" class="p-2.5 gap-2.5 h-fit w-[49%]">
								<h3 class="pb-3">Websites</h3>
								<ul class="w-full h-fit py-3.5 px-3 gap-2.5 text-left">
									<Content object={uaSmartSignage} last={false} isWebsite={true}/>
									<Content object={boardgamesHub} last={true} isWebsite={true}/>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<div class="background-divider top-divider lastDividerLandingPage">
			<div class="mx-auto max-w-screen-xl">
				<div id="currentWork" class="flex flex-col w-full h-fit py-32 px-2.5 gap-3.5">
					<h2 class="py-10 w-full">Currently working on</h2>
					<div id="darksouls" class="flex flex-col rounded-md outline-1 outline-[#A8B0C6] w-[50%] p-6">
						<a href="https://github.com/WildBunnie/DarkSoulsII-Archipelago" class="mx-auto hover:brightness-120">
							<h3 class="flex flex-row items-center">
								Dark Souls 2 Mod
								<svg class="h-8 w-8 ml-3" viewBox="0 0 1024 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z" transform="scale(64)" fill="#A2A372"/>
								</svg>
							</h3>
						</a>
						<h5>Archipelago Randomizer</h5>
						<ul class="w-full h-fit py-10 px-10 space-y-2 gap-2.5 text-left">
							<li class="list-disc list-inside">Randomize items based on location pickups;</li>
							<li class="list-disc list-inside">CheatEngine research for memory addresses;</li>
							<li class="list-disc list-inside">Reverse engineering with assembly;</li>
							<li class="list-disc list-inside">Create both Client and World.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>