---
import { Image } from "astro:assets";


const { object, last, isWebsite } = Astro.props;

---
<li class="flex flex-row h-fit">
    <div class=`${!isWebsite ? "w-[50%]" : "w-[60%]"} h-fit p-2.5 gap-2.5 flex flex-col`>
        <p class="medium">{object.title}</p>
        <ul class="flex flex-col">
            {object.description.map((description: unknown) =>
            <li class="list-disc list-inside">{description}</li>
            )}
        </ul>
        {!isWebsite ?
        <ul class="flex flex-row px-3 gap-2.5">
            {object.tags.map((tag: unknown) => 
            <li class="rounded-sm w-fit h-fit text-[#1F0F1F] bg-[#A8B0C6] px-1.5 font-medium">{tag}</li>
            )}
        </ul>
        :
        ""
        }
    </div>
    <div class=`-2.5 pb-0 gap-2.5 ${!isWebsite ? "w-[50%]" : "w-[40%]"} max-h-40`>
        <Image src={object.img} alt="" class="mx-auto rounded-sm max-w-56 h-full"/>
    </div>
</li>

{isWebsite ?
<ul class="flex flex-wrap px-3 gap-2.5">
    {object.tags.map((tag: unknown) => 
    <li class="rounded-sm w-fit h-fit text-[#1F0F1F] bg-[#A8B0C6] px-1.5 font-medium">{tag}</li>
    )}
</ul>
:
""
}


{!last ? 
<div class="py-4">
    <div class="border-1 mx-2.5 border-solid border-[#A2A372]"/>
</div> 
: 
""
}
